.large-image{
    width: 400px;
}

.column{
    flex-direction: column !important;
    align-items: center !important;
    display: flex;
    font-family: 'Raleway', sans-serif;
    color:black !important;
    font-size: 20px;
    width: 60%;
}

.img-border{
    border-style: solid;
    border-width: 10px;
    color:rgb(60, 90, 221);
}

.other-border{
    border-style: double;
    border-color: transparent;
}

#nameheader{
    margin-top: 10px;
    color:rgb(60, 90, 221);
}

.p {
    margin-top:10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: justify;
}

.center{
    display: flex;
    justify-content: center;
}