.nav{
    width: 100%;
    justify-content: center;
}

.container{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}

.container a{
    color:black !important;
    font-size: 20px;
}

.border{
    margin: 0px !important;
    width: 100%;
    border-bottom: 1px solid rgb(224, 224, 224);
}

#name{
    padding:1rem;
    font-size: 20px;
}

#nav-active{
    color: rgb(60, 90, 221) !important;
    border-bottom-style: solid;
}

.cover-image{
    height: 550px;
}